
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script type = "text/javascript">
        function preventBack(){window.history.forward();}
         setTimeout("preventBack()", 0);
         window.onunload=function(){null};
     </script>
  </head>

  <body>
      <!-- Navbar  -->
    <nav class="navbar navbar-expand-sm  navbar-dark justify-content-end">
        <img src="/image/gtlogo.png" width="40px" height="40px">
        <a class="navbar-brand" href="/">Giga Tech Ltd.</a>
        <div class="collapse navbar-collapse flex-grow-0 ml-auto mr-1" id="navbarSupportedContent">
            <ul class="navbar-nav text-right">
                <li class="nav-item active">
                    <a class="nav-link" href="/menu">Lunch Order</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/report">Daily Report</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/logout" id="logout" name="logout">Log out</a>
                </li>
                <li class="nav-item active">
                    <img src="/image/biggerpersonicon.png" width="25px" height="25px" style="margin-top: 5px;">
                </li>
            </ul>
        </div>
    </nav>

    <div id="container">
        <div id="main">
            <div class="container" style="margin-top: 30px;">
                <div class="row">
                    <div class="col-md-10">
                        <h3 style="color: #3e32a8;">Welcome, <%= users %>!</h3>
                    </div>
                </div>
            </div>

            <div class="container rounded" style="background-color: white; margin-top: 20px;">
                <div class="row">
                    <div class="col-md-4">
                        <div class="rounded card mx-auto" style="background-color: #3e32a8;">
                            <div class="card-body"  style="text-align: center;">
                                <h4><a href="/report" style="color: white;">Daily Report</a></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="rounded card mx-auto" style="background-color: #3e32a8;">
                            <div class="card-body" style="text-align: center;">
                                <h4><a href="/menu" style="color: white;">Lunch Menu</a></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="rounded card mx-auto" style="background-color: #3e32a8;">
                            <div class="card-body" style="text-align: center;">
                                <h4><a href="/history" style="color: white;">Order History</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer  -->
    <footer class="page-footer font-small" id="footer">
        <div class="footer-copyright text-center py-3" style="color: white;">© 2020 Copyright: Giga Tech Ltd.
        </div>
    </footer>
  </body>
</html>