
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>

  <body>
    <nav class="navbar navbar-expand-sm  navbar-dark justify-content-end">
        <img src="/image/gtlogo.png" width="40px" height="40px">
        <a class="navbar-brand" href="/">Giga Tech Ltd.</a>
        <div class="collapse navbar-collapse flex-grow-0 ml-auto mr-1" id="navbarSupportedContent">
           
        </div>
    </nav>

    <div id="container">
        <div id="main">
            <h3 style="color: #3e32a8; margin-top: 80px; display: flex; justify-content: center;">Login</h3>
            <div class="container rounded" style="background-color: white;" id="emailFormCont">              
                <form action="/" method="POST">
                        <div class="form-group" style="margin-top: 40px; color: #3e32a8;">
                            <h5>E-mail:</h5>
                            <input type="text" id="email" name="email" class="form-control" placeholder="email@gigatechltd.com" style="background-color: #f0f0f0; color: #7953f9;">
                        </div>
                        <div class="form-group" style="color: #3e32a8;">
                            <h5>Password:</h5>
                            <input type="password" id="password" name="password" class="form-control" placeholder="Password" style="background-color: #f0f0f0; color: #7953f9;">
                        </div>
                        <div class="form-group text-right">
                            <button class="btn" type="submit" id="loginbtn">Login</button>
                        </div>
                        <a href="/register" style="color: #3e32a8;">Do not have an account? Register here.</a>
                </form>
            </div>
        </div>
    </div>
    
    <footer class="page-footer font-small" id="footer">
        <div class="footer-copyright text-center py-3" style="color: white;">© 2020 Copyright: Giga Tech Ltd.
        </div>
    </footer>
  </body>
</html>