
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Daily Report</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>

  <body>
    <div class="container"><br />
      <h1 style="text-align: center;">Daily Report</h1><br />
      <form action="/send-email" method="post">
        <div class="row">
            <div class="col-md-10" id="form">
                    <div class="form-group">
                    <h4>Day:</h4>
                    <input type="text" class="form-control" name="day" required>
                </div>

                <div class="form-group">
                    <h4>Tasks Assigned:</h4>
                    <textarea rows="8" class="form-control" name="tasks" required></textarea>
                </div>

                <div class="form-group">
                    <h4>Tasks Completed:</h4>
                    <textarea rows="8" class="form-control" name="completed" required></textarea>
                </div>

                <div class="form-group">
                    <h4>Learnings:</h4>
                    <textarea rows="8" class="form-control" name="learnings" required></textarea>
                </div>

                <div class="form-group text-right">
                    <button type="submit" class="btn btn-lg" id="submitbtn">Send</button>
                </div>
            </div>
        </div>
      </form>
    </div>
  </body>
</html>