
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Lunch Order</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>

  <body>
      <!-- Navbar  -->
    <nav class="navbar navbar-expand-sm  navbar-dark justify-content-end">
        <img src="/image/gtlogo.png" width="40px" height="40px">
        <a class="navbar-brand" href="/">Giga Tech Ltd.</a>
        <div class="collapse navbar-collapse flex-grow-0 ml-auto mr-1" id="navbarSupportedContent">
            <ul class="navbar-nav text-right">
                <li class="nav-item active">
                    <a class="nav-link" href="/menu">Lunch Order</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/report">Daily Report</a>
                </li>
                <li class="nav-item active">    
                    <a class="nav-link" href="/dash">Dashboard</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/logout">Log out</a>
                </li>
                <li class="nav-item active">
                    <img src="/image/biggerpersonicon.png" width="25px" height="25px" style="margin-top: 5px;">
                </li>
            </ul>
        </div>
    </nav>

    <div id="container">
        <div id="main">
            <!-- Menu  -->
            <div class="container"><br />    
                <img src="/image/foodmenu.jpg" width="900px" height="500px" id="foodpic">
            </div>

            <!-- Order Form  -->
            <div class="container" id="orderFormCont" style="background-color: white;">
                <form action="/place-order" method="post">
                    <br>
                    <h4 style="color: #9370DB;" id="orderHeader">Order</h4>
                    <div class="row">
                        <div class="col-sm-8" style="margin-top: 15px;">
                            <h5 style="color: #9370DB;">Name:</h5>
                            <input type="text" class="form-control" name="personsName" style="background-color: #f0f0f0; color: #9370DB;" required>
                        </div>
                        <div class="col-sm-4" style="margin-top: 15px;">
                            <h5 style="color: #9370DB;">Day:</h5>
                            <input type="text" class="form-control" name="orderDay" style="background-color: #f0f0f0; color: #9370DB;" required>
                        </div>
                    </div>
                    <div class="form-group text-right" style="margin-top: 20px;">
                        <input class="btn" type="submit" id="orderbtn" value="Place Order">
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!-- Footer  -->
    <footer class="page-footer font-small" id="footer">
        <div class="footer-copyright text-center py-3" style="color: white;">© 2020 Copyright:
         Giga Tech Ltd.
        </div>
    </footer>
  </body>
</html>