/* All body background colour */
body{
    background-color: #F0F0F0;
}

/* Navbar */
.navbar{
    border-bottom: 0;
    margin-bottom: 0;
    background-color: #3e32a8;
    border-color: #bfaab9;
  }

/* For Footer */  
html, body{
    height: 100%;
}

#container{
    min-height: 100%;
}  

#main{
    overflow: auto;
    padding-bottom: 70px;
}

#footer{
    background-color: #707070;
    position: relative;
    height: 60px;
    margin-top: -60px;
    clear:both;
}

 /* To make container edges rounded  */
.rounded {
    border-radius:.5rem!important;
}

  /* Report page css */
#submitbtn{
    background-color: #3e32a8;
    border-color: #707070;
    color: white;
}

#reportform{
    margin: auto;
    width: 50%;
}

/* Home page css */
  #emailFormCont{
      box-shadow: 10px 10px 5px grey;
  }
  
  #loginbtn{
    background-color: #3e32a8;
    border-color: #707070;
    color: white;
}


  /* Menu page css */
#foodpic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    margin-bottom: 20px;
}

#orderFormCont{
    width: 900px;
    height: 250px;
    margin-top: 10px; 
}

#orderbtn{
    background-color: #3e32a8;
    border-color: #707070;
    color: white;
    margin-top: 20px;
}

/* Dashboard css */
.card{
    display: flex;
    justify-content: center; 
    margin-top: 150px; 
    margin-bottom: 150px;
}

/* Register css */
#registerbtn{
    background-color: #3e32a8;
    border-color: #707070;
    color: white;
}